@{
    ViewData["Title"] = "Javascript ile Kategori CRUD İşlemleri";
}

<h1>Javascript ile İçerik CRUD İşlemleri</h1>

<table id="Icerikler" class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Başlık </th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Anasayfa</th>
        <th>İşlemler</th>
    </tr>
    <tbody id="list"></tbody>
</table>

<input type="hidden" id="Id" />
<input type="hidden" id="CategoryId" />
<input type="hidden" id="ImageName" />

<hr />

<table class="table">

    <tr>
        <td>Kategori Adı</td>
        <td>
            <input type="text" value="" id="CategoryId" name="CategoryId" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>Başlık</td>
        <td>
            <input type="text" value="" id="Name" name="Name" class="form-control" />
        </td>
    </tr>

    <tr>
        <td>Açıklama</td>
        <td>
            <textarea id="Description" name="Descripton" rows="5" class="form-control">
</textarea>
        </td>
    </tr>

    <tr>
        <td>Resim</td>
        <td>
            <input type="file" value="" id="Image" name="Image" />
        </td>
    </tr>

    <tr>
        <td>Durum</td>
        <td>
            <input type="checkbox" id="IsActive" name="IsActive" />
            <label for="IsActive">Aktif</label>
        </td>
    </tr>

    <tr>
        <td>Anasayfa</td>
        <td>
            <input type="checkbox" id="IsHome" name="IsHome" />
            <label for="IsHome">Aktif</label>
        </td>
    </tr>

    <tr>
        <td>
        </td>
        <td>
            <button class="btn btn-primary" onclick="Add()">Ekle</button>
            <button class="btn btn-success" onclick="Update()">Güncelle</button>
        </td>
    </tr>
</table>

@section Scripts {
    <script>
        function GetAll() {

            fetch("https://localhost:7106/api/posts/")
                .then(response => response.json()) 
                .then(data => {
                    
                    console.log(data) 
                    let div = document.getElementById("list") 
                    data.forEach(p => { 

                        div.innerHTML += `<tr>
                                                    <td>${p.id}</td>
                                                                    <td> ${p.categoryId} </td>
                                                    <td> ${p.name} </td>
                                                    <td><img src="https://localhost:7106/Images/${p.image}" alt="" height="34" /></td>
                                                    <td> ${p.isActive} </td>
                                                    <td> ${p.isHome} </td>
                                                    <td>
                                  <input type="button" name="edit" value="Düzenle" class="btn btn-primary" onclick="Edit(${p.id})" />
                                  <input type="button" name="delete" value="Sil" class="btn btn-danger" onclick="Delete(${p.id})" />
                                                    </td>
                                                              </tr>`

                    })
                })
                .catch(error => {
                    
                    console.warn(error)
                    alert(error + "Hatası Oluştu!")
                    
                })
        }
        GetAll();
        function Add() {
            fetch("https://localhost:7106/api/posts/", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    CategoryId: document.getElementById("CategoryId").value,
                    Name: document.getElementById("Name").value,
                    Descripton: document.getElementById("Description").value,
                    Image: document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) 

            }) 
                .then((response) => {
                    if (response.ok) { 
                        location.reload();  

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") 
                    }
                }) 
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Edit(id) {
            fetch("https://localhost:7106/api/posts/" + id)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                   
                    document.getElementById("Id").value = data.id
                    document.getElementById("CategoryId").value = data.categoryId
                    document.getElementById("Name").value = data.name
                    document.getElementById("Description").value = data.description
                    document.getElementById("ImageName").value = data.image
                    document.getElementById("IsActive").checked = data.isActive
                    document.getElementById("IsHome").checked = data.isHome

                })

        }
        function Update() {
            var id = document.getElementById("Id").value
            fetch("https://localhost:7106/api/posts/" + id, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Id: id,
                    CategoryId: document.getElementById("CategoryId").value,
                    Name: document.getElementById("Name").value,
                    Descripton: document.getElementById("Description").value,
                    Image: document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) 

            }) 
                .then((response) => {
                    if (response.ok) { 
                        location.reload();  

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") 
                    }
                }) 
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Delete(id) {

            fetch("https://localhost:7106/api/posts/" + id, {
                method: "DELETE",
                headers: { "Content-Type": "application/json" }

            }) 
                .then((response) => {
                    if (response.ok) { 
                        location.reload();  

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") 
                    }
                }) 
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })

        }
    </script>
}