@{
    ViewData["Title"] = "Javascript ile Kategori CRUD İşlemleri";
}

<h1>Javascript ile Kategori CRUD İşlemleri</h1>

<table id="Kategoriler" class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Anasayfa</th>
        <th>Sil</th>
    </tr>
    <tbody id="list"></tbody>
</table>

<input type="hidden" id="Id" />
<input type="hidden" id="ImageName" />

<hr />

<table class="table">

    <tr>
        <td>Kategori Adı</td>
        <td>
            <input type="text" value="" id="Name" name="Name" class="form-control" />
        </td>
    </tr>

    <tr>
        <td>Açıklama</td>
        <td>
            <textarea id="Description" name="Descripton" rows="5" class="form-control">
</textarea>
        </td>
    </tr>

    <tr>
        <td>Resim</td>
        <td>
            <input type="file" value="" id="Image" name="Image" />
        </td>
    </tr>

    <tr>
        <td>Durum</td>
        <td>
            <input type="checkbox" id="IsActive" name="IsActive" />
            <label for="IsActive">Aktif</label>
        </td>
    </tr>

    <tr>
        <td>Anasayfa</td>
        <td>
            <input type="checkbox" id="IsHome" name="IsHome" />
            <label for="IsHome">Aktif</label>
        </td>
    </tr>

    <tr>
        <td>
        </td>
        <td>
            <button class="btn btn-primary" onclick="Add()">Ekle</button>
            <button class="btn btn-success" onclick="Update()">Güncelle</button>
        </td>
    </tr>
</table>

@section Scripts {
    <script>
        function GetAll() {

            fetch("https://localhost:7106/api/categories/") // fetch metodunu bu şekilde istek atacağımız sunucuyu parametre vererek kullanıyoruz
                .then(response => response.json()) // bu satır apiden dönen sonucu json a dönüştürür
                .then(data => {
                    // console.log(data) // api den dönen nesneyi tarayıcı konsoluna bastır
                    console.log(data) // api den dönen ürün listesini tarayıcı konsoluna bastır
                    let div = document.getElementById("list") // ekrandaki products id li elementi seç
                    data.forEach(p => { // gelen data içindeki products listesinde forEach ile dön
                        // listedeki her bir ürünü
                        div.innerHTML += `<tr>
                                            <td>${p.id}</td>
                                            <td> ${p.name} </td>
                                            <td><img src="https://localhost:7106/Images/${p.image}" alt="" height="34" /></td>
                                            <td> ${p.isActive} </td>
                                            <td> ${p.isHome} </td>
                                            <td>
                          <input type="button" name="edit" value="Düzenle" class="btn btn-primary" onclick="Edit(${p.id})" />
                          <input type="button" name="delete" value="Sil" class="btn btn-danger" onclick="Delete(${p.id})" />
                                            </td>
                                                      </tr>` // yatay tırnak klavyeden ctrl+ alt + , e basarak açılıyor

                    })/* */
                })
                .catch(error => {
                    // eğer api isteğinde hata oluşmazsa buraya yakalayıp kullanabiliriz
                    console.warn(error)
                    alert(error + "Hatası Oluştu!")
                    // veya burada db de logs tablosu yapıp kaydedebiliriz.
                })
        }
        GetAll();
        function Add() {
            fetch("https://localhost:7106/api/categories/", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Name: document.getElementById("Name").value,
                    Descripton: document.getElementById("Description").value,
                    Image: document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) // body bitiş

            }) // fetch bitiş
                .then((response) => {
                    if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                        location.reload();  // sayfayı yenile

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                    }
                }) // then bitiş
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Edit(id) {
            fetch("https://localhost:7106/api/categories/" + id)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    // bize gelen 1 tane datayı inputlara dolduruyoruz
                    document.getElementById("Id").value = data.id
                    document.getElementById("Name").value = data.name
                    document.getElementById("Description").value = data.description
                    document.getElementById("ImageName").value = data.image
                    document.getElementById("IsActive").checked = data.isActive
                    document.getElementById("IsHome").checked = data.isHome

                })

        }
        function Update() {
            var id = document.getElementById("Id").value
            fetch("https://localhost:7106/api/categories/" + id, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Id: id,
                    Name: document.getElementById("Name").value,
                    Descripton: document.getElementById("Description").value,
                    Image: document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) // body bitiş

            }) // fetch bitiş
                .then((response) => {
                    if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                        location.reload();  // sayfayı yenile

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                    }
                }) // then bitiş
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Delete(id) {

            fetch("https://localhost:7106/api/categories/" + id, {
                method: "DELETE",
                headers: { "Content-Type": "application/json" }

            }) // fetch bitiş
                .then((response) => {
                    if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                        location.reload();  // sayfayı yenile

                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                    }
                }) // then bitiş
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })

        }
    </script>
}